<p id="notice"><%= notice %></p>

<p>
  <strong>Blog:</strong>
  <%= @reply.blog_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reply.comment %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replyshow_blog_path(@blog) %>
